* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo;
}

header {

    width: 100%;
    height: 100px;
    border-bottom: 1px rgb(214, 214, 214) solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-header {

    width: 9em;
  
}

.menu {
    height: 100%;
    display: flex;
    background-color: rgb(255, 255, 255) ;
}

.menu ul {

    list-style: none;
    position: relative;
    align-self: center;
    font-size: 1.2em;
    display: flex;

}

.menu ul li{

    width: 150px;

}

.menu a {
    padding: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 60, 60);
}

.menu a:hover {

    color: rgb(0, 97, 29);
}

.menu ul ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    font-size: 1em;
    border-top: 4px rgb(68, 22, 22) solid;
    z-index: 1000;

}

.menu ul ul li {

    border: 1px rgb(228, 228, 228) solid;
}

.menu ul ul li a {
    padding: 10px;

}

.menu ul li:hover ul {

    visibility: visible;
}

.menu ul ul li {

    float: none;
}



/* COntéudo */

h1 {

    color:#562B00;
    font-size: 3em;
    line-height: 1;
    
}

.conteudo {

    display: flex;
    justify-content: space-between;

    width: 70%;
    padding: 15px;
    margin: 5em auto;
    position: relative;
}


.conteudo p {

    margin: 2em auto;
    font-size: 1.2em;
}

button {

    padding: 10px 50px;
    background-color: green;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out ;
    margin: 1em 0 0 0;

}

button:hover {

    background-color: rgb(0, 90, 0);


}

.head-text {

    width: 40%;
    align-self: center;
}

.mosaic {

    width: 55%;
}

/* Articles */

article {

    display: flex;
    justify-content: space-between;

    width: 70%;
    padding: 15px;
    margin: 15em auto;
}

article p {

    margin: 2em auto;
    font-size: 1.2em;
}

article .desenho {

    width: 25%;
}

article .article-text {

    width: 60%;
}

.article2 {

    flex-direction: row-reverse;
}

/* man-bg*/

.man-bg {

    width: 100%;
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.man-bg img {

    width: 25em;
    height: 50em;
}

.formulario {

    display: flex;
    flex-direction: column;
 
    text-align: right;
}

.form-text {
    width: 50%;
    margin: 3em auto;

}

.form-text p {

    margin: 2em auto;
    font-size: 1.2em;
}


.form {


    height: 400px;
    width: 50%;
    margin: 3em auto;
    text-align: left;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* staff */

  h2 {
    color:#562B00;
    font-size: 3em;
    line-height: 1;
    margin: 10px 0 ;
  }

  .staff {

    display: flex;
    justify-content: space-around;
    height: auto;
    padding: 2em 0;
    margin: 5em auto;
  }

  .staff-member {

    width: 20%;
    height: auto;

  }

  .foto {

    width: 14em;
    height: 14em;
    margin: 2em auto;
    background-color: green;
    border: 5px green solid;
    border-radius: 100%;
  }

  .foto::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 100%;
    background-color: rgba(0, 94, 28, 0.5);
    
    transition: .3s linear;
  }

  .foto:hover::before{
 
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 15px 0px 5px rgba(0,0,0,0.1);
  }

  .foto1 {

    background-image: url(imagens/foto01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
    
  }


  .foto2 {

    background-image: url(imagens/foto02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
  }

  .foto3 {

    background-image: url(imagens/foto03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
  }

  .foto4 {

    background-image: url(imagens/foto04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
  }

  .foto5 {

    background-image: url(imagens/foto05.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
  }

  .foto6 {

    background-image: url(imagens/foto06.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
  }

  .descricao {

    text-align: center;
    line-height: 2;

  }
  .descricao p {

    font-size: 1.2em;
  }

  /*footer*/

  h3 {
      color: #562B00;
  }

  footer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 5em 0;
      background-color: white;
      border-top: 1px rgb(238, 238, 238) solid;
      border-bottom: 10px #562B00 solid;
  }

  .logo-footer {

    width: 10%;
  }

  .footer-info {

    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 4em 0;
  }

  .footer-info ul li {
      list-style: none;
  }

  .icons-container {

    display: flex;
    justify-content: space-around;
    width: 15%;
    margin: 4em auto 0 auto;
  }


  .icons-container a i {
      font-size: 1.5em;
      color: gray;
      transition: .3s linear;
  }

  .icons-container a i:hover {
    color: rgb(53, 53, 53);
}

  /*folhas*/

  .folha1{
    width: 2%;
    position: absolute;
    top:36%;
    left: 15%;
    z-index: -100;
  
  }

  .folha2{
    width: 1%;
    position: absolute;
    top:46%;
    left: 31%;
    z-index: -100;

  }

  .folha3{
    width: 1%;
    position: absolute;
    top:82%;
    left: 42%;
    z-index: -100;
    transform: rotate(90deg);
    opacity: 0.5;
  }

  .folha4{
    width: 3%;
    position: absolute;
    top:104%;
    left: 54%;
    z-index: -100;
    transform: rotate(180deg);
  }
  
  .folha5{
    width: 2%;
    position: absolute;
    top:174%;
    left: 34%;
    z-index: -100;
    transform: rotate(270deg);  
    opacity: 0.5;
}

.folha6{
    width: 2%;
    position: absolute;
    top:200%;
    left: 64%;
    z-index: -100;
    transform: rotate(180deg);  
    opacity: 0.5;
}

.folha7{
    width: 2%;
    position: absolute;
    top:260%;
    left: 44%;
    z-index: -100;
    transform: rotate(60deg);  
    opacity: 0.5;
}

.folha8{
    width: 3%;
    position: absolute;
    top:290%;
    left: 24%;
    z-index: 100;
    transform: rotate(90deg);  

}

.folha9{
    width: 3%;
    position: absolute;
    top:390%;
    left: 7%;
    z-index: 100;
    transform: rotate(0deg);  

}

.folha10{
    width: 2%;
    position: absolute;
    top:450%;
    left: 44%;
    z-index: 100;
    transform: rotate(270deg);  
    opacity: 0.5;

}

.folha11{
    width: 2%;
    position: absolute;
    top:515%;
    right: 14%;
    z-index: 100;
    transform: rotate(90deg);  

}


@media (max-width:1200px) {

    .conteudo {
        
        width: 85%;
    }

    article {

        width: 85%;
    }

    .formulario {

        width: ;
    }

    .man-bg img {

        width: 45em;
        height: 70em;
    }

    .form-text {

        width: 65%;
    }

    
    .form {

        width: 65%;
    }

    .staff {

        width: 100%;
    }

    .footer-info {


        width: 85%;
        margin: 4em 0;
      }

      .icons-container {
          width: 40%;
      }

}

@media (max-width:950px) {

    h1 {
        font-size: 2em;
    }

    .logo-header {

        width: 5em;
    }
    .menu ul {

        font-size: 1em;
    }

    .conteudo {
        
        width: 90%;
    }


    .conteudo p {
        font-size: 1em;
    }

    article .desenho {
        width: 32%;
    }

    .article p {

        font-size: 1em;
    }

    
    .form-text p {

        font-size: 1em;
    }

    h2 {
        font-size: 2em;

    }

    .descricao p {

        font-size: 1em;
    }
    

    .foto {

        width: 10em;
        height: 10em;
      }

      .logo-footer {

        width: 15%;
      }

}

@media (max-width:950px) { 

    .logo-header {
        display: none;
    }

    .conteudo {

        flex-direction: column;
        align-items: center;
    }

    .mosaic {
        width: 90%;
    }


    .head-text {

        width: 90%;
        text-align: center;
    }

    .staff {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

      }

      .staff-member {
        width: 60%;
        height: auto;
    }

    .logo-footer {

        width: 20%;
      }
    
}

@media (max-width:600px) {
    
    .menu {

        display: none;
    }


}






